h1{
    font-size: 3em;
    text-align: center;
    margin-top: 10%;
}

.fim{
    border-radius: 10px 0 10px 0;
    background-color: rgb(antiquewhite);
    transition: 0.3s;   
    cursor: pointer;
    transition: 0.3s;   
    border-radius: 3rem;
    font-size: 2em;
    height: 2em;
    padding: 0.5rem;

}

.fim:hover{
    background-color: aliceblue;
    color: #333;
    transition: 0.3s;   
    transform: scale(1.2);
}