.game h1{
    font-size: 2.5em;

}

.points span {
    font-weight: bold;
}

.tip span {
    color:antiquewhite
}

.gameContainer{
    margin: 1.5em;
    padding: 1.5em;
    border: 5px solid antiquewhite;
    display: flex;
}

.letter, .blankSquare{
    font-size: 4em;
    line-height: 1.5;
    border: 1px solid black;
    height: 6rem;
    width: 4rem;
    text-transform: uppercase;
    background-color: antiquewhite;
    color: black;
    margin: 0.5rem auto ; /* Adiciona uma margem mínima de 0.5rem e centraliza */
}

.letterContainer p{
    margin-top: 2em;
    font-size: 2rem;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    text-align: center;
    margin-right: 2em;
}

.btn-jgr{
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    background-color: antiquewhite;
    transition: 0.5s;

}

.btn-jgr:hover{
    transition: 0.5s;
    transform: scale(1.2);
    background-color: #fff;
}

.wrongLettersContainer{
    margin-top: 4em ;
}